<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinemas</title>
</head>

<body>
    <%- include('../partials/navbar')%>
    <div class="container">
        <div class="d-flex justify-content-center" style="padding-top: 50px">
            <img src="https://thumbs.dreamstime.com/b/coming-soon-sign-business-red-white-words-isolated-white-background-33668199.jpg"
                width="50%">
        </div>
    </div>
</body>

</html>